app/.htaccess
app/autoload.php
app/bootstrap.php
app/functions.php
app/design/adminhtml/
app/design/frontend/
app/etc/
vendor/
lib/
dev/
pub/
setup/
var/
generated/
phpserver/

.htaccess
.htaccess.sample
.php_cs
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
CONTRIBUTOR_LICENSE_AGREEMENT.html
COPYING.txt
Gruntfile.js
LICENSE.txt
LICENSE_AFL.txt
bin/.htaccess
bin/magento
index.php
nginx.conf.sample
package.json
php.ini.sample

.aja/
.idea/