<?xml version="1.0"?>
<!--
/**
* Nikita Brand
*
* @author Mykyta Yanushevskyi mykyta.yanushevskyi@vaimo.com
* @package Nikita_Brand
* @copyright Copyright (c) 2021 Vaimo (http://www.vaimo.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="nikita_promotion" frontName="promotion">
            <module name="Nikita_Promotion"/>
        </route>
    </router>
</config>