.checkout__promotion {
  display: flex;
  margin-top: 21px;
  justify-content: space-evenly;
  margin-bottom: 50px;

  .actions-toolbar {
    display: none;
    width: 100%;
  }
}

.checkout__info {
  width: 300px;
  box-shadow: 0 1px 5px #00000059;
  border-radius: 7px;
  padding: 20px 30px;
  color: black !important;
  text-decoration: none;

  &:nth-child(3) {
    display: none;
  }
}

.checkout__header {
  position: relative;
  text-transform: uppercase;

  .chevronright {
    position: absolute;
    width: 25px;
    right: -20px;
    top: -5px;
    height: 25px;
  }
}

@import 'mobile/_checkout_succes-m';